/* 공통 폰트 */
.sub-text {
  font-size: var(--TextMidium);
  color: var(--ButtonDefault);
  margin-bottom: 20px;
  font-weight: 600;
}

.primary-heading {
  font-size: 70px;
  margin-bottom: 40px;
  font-size: 50px;
  line-height: 70px;
}

.primary-text {
  font-size: 24px;
  color: var(--Middlegray);
  margin-bottom: 40px;
  line-height: 40px;
}

/* ===== 1. Intro ===== */

.intro {
  background-image: url('../../../public/img/landing_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* 배경 이미지 반복 금지 */
  height: 940px;
  display: grid;
  place-items: center;
  grid-template-columns: 5fr 3fr;
  grid-template-areas: "box1 box2";
  overflow: hidden;
}

.intro-text-section {
  font-weight: 300;
  grid-area: box1;
  padding-bottom: 80px;
  padding-left: 150px;
}

.intro-text-section b {
  font-weight: 700;
}

.intro-text-section .primary-heading {
  font-size: 90px;
  margin-bottom: 30px;
  line-height: 120px;
}

.intro-text-section .primary-text {
  margin-top: -30px;
}

.intro-image-section {
  grid-area: box2;
  padding-right: 50px;
  position: relative;
}

.intro-image-section img {
  width: 900px;
  height: auto;
}

.go-button {
  display: inline-block;
  padding: 18px 30px 8px 30px;
  background-color: var(--ButtonDefault);
  color: #fff;
  border: none;
  border-radius: 0 0 30px 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  line-height: 15px;
  letter-spacing: 5px;
  font-family: 'yg-jalnan';
  font-weight: normal;
  position: absolute;
  width: 256.5px;
  height: 70px;
  top: 643px;
  right: 425.5px;
}

.go-button:hover {
  /* 버튼 호버 효과 (마우스를 올리면 색깔 바뀜) */
  background-color: var(--ButtonHover);
}

.go-button:active {
  /* 버튼 활성화 상태 스타일 (클릭 시 스타일) */
  background-color: var(--ButtonPressed);
}

/* ===== 2. About Us ===== */
.about {
  background-color: rgba(250, 245, 238, 0.6);
  display: grid;
  place-items: center;
  grid-template-columns: 4fr 5fr;
  grid-template-areas: "box1 box2";
  height: 800px;
}

.about-image-section {
  grid-area: box1;
  height: 800px;
  overflow: hidden;
}

.about-image-section img {
  width: 1100px;
  height: auto;
  margin-left: 180px;
}

.about-text-section {
  margin-left: 260px;
  grid-area: box2;
  padding-right: 90px;
}

.about-button {
  display: inline-block;
  border: none;
  border-radius: 8px;
  height: 50px;
  width: 150px;
  font-size: var(--TextMidium);
  background-color: var(--ButtonDefault);
  color: white;
  cursor: pointer;
}

.about-button:hover {
  /* 버튼 호버 효과 (마우스를 올리면 색깔 바뀜) */
  background-color: var(--ButtonHover);
}

.about-button:active {
  /* 버튼 활성화 상태 스타일 (클릭 시 스타일) */
  background-color: var(--ButtonPressed);
}

/* ===== 3. Service ===== */
.service {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 600px;
}
.service-section-top .sub {
  color: var(--ButtonDefault);
  font-weight: bold;}
.service-section-bottom {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;

}

.service-info {
  float: left;
  margin-top: 150px;
  margin-right: 100px;
  padding: 25px;
  width: 300px;
  height: 200px;
  border: 1px solid rgba(241, 137, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0px 10px 5px 3px rgba(241, 137, 0, 0.1);
}

.service-info-img {
  margin-bottom: 15px;
}

.service-info h2 {
  margin-bottom: 10px;
}

.service-info p {
  color: var(--Middlegray);
}

/* ===== 4. Outro ===== */
.outro {
  text-align: center;
  margin-top: 400px;
  margin-bottom: 400px;
}

