* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--Black);
}

/* 공통 폰트 */
.sub-text {
  font-size: var(--TextMidium);
  color: var(--ButtonDefault);
  margin-bottom: 20px;
  font-weight: 600;
}
.primary-heading {
  letter-spacing: 5px;
  margin-bottom: 40px;
  font-size: 50px;
  line-height: 70px;
}
.primary-text {
  font-size: var(--TextLarge);
  color: var(--Middlegray);
  margin-bottom: 40px;
  line-height: 50px;
}

/* ===== 1. Intro ===== */

.intro {
  display: grid;
  place-items: center;
  grid-template-columns: 5fr 3fr;
  grid-template-areas: 	"box1 box2";
  margin-bottom: 400px;
}

.intro-text-section {
  font-weight: 300;
  grid-area: box1;
  padding-bottom: 80px;
  padding-left: 150px;
}

.intro-text-section b{
  font-weight: 700;
}

.intro-text-section .primary-heading {
  font-size: 90px;
  margin-bottom: 30px;
  line-height: 120px;
}

.intro-text-section .primary-text {
  margin-top: -30px;
}

.intro-image-section {
  grid-area: box2;
  padding-right: 50px;
  position: relative;
}

.intro-image-section img {
  width: 900px;
  height: auto;
}

.go-button {
  display: inline-block;
  padding: 18px 30px 8px 30px;
  background-color: #ff9a00;
  color: #fff;
  border: none;
  border-radius: 0 0 30px 30px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  letter-spacing: 5px;
  font-family: 'yg-jalnan';
  font-weight: normal;
  position: absolute;
	width: 256.5px;
  height: 70px;
	top: 643px;
	right: 425.5px;
}

.go-button:hover { /* 버튼 호버 효과 (마우스를 올리면 색깔 바뀜) */
  background-color: #ffc976;
}

.go-button:active { /* 버튼 활성화 상태 스타일 (클릭 시 스타일) */
  background-color: #ff7301;
}

/* ===== 2. About Us ===== */
.about {
  display: grid;
  place-items: center;
  grid-template-columns: 4fr 5fr;
  grid-template-areas: 	"box1 box2";
  margin-bottom: 400px;
}

.about-image-section {grid-area: box1;}
.about-image-section img {
  width: 350px;
  height: auto;
  margin-left: 50px;
}
.about-text-section {
  grid-area: box2;
  padding-right: 100px;
}

/* ===== 3. Service ===== */
.service {
  text-align: center;
  padding-bottom: 1000px;
}

.service-section-bottom {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.service-info {
  float: left;
  margin-top: 150px;
  margin-right: 100px;
  padding: 25px;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 10px 20px 20px var(--Brightgary);
}

.service-info-img {
  margin-bottom: 15px;
}

.service-info h2 {
  margin-bottom: 10px;
}
.service-info p {
  color: var(--Middlegray);
}