.AgreeModalDiv {
    display: flex;
    background-color: wheat;
    width: 80%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 60px;
    height: 80%;
}

.AgreeModalDesc {
    padding-top: 60px;
}

.AgreeModalBtn {
    position: absolute;
    right: 60px;
    top: 720px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
}