.form button:disabled {
  border: 1px solid #ffdfaf;
  background-color: #ffddab;
  color: white;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  font-size: 15px;
}

.form button {
  border: 1px solid #fe9a00;
  background-color: #fe9a00;
  color: white;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  font-size: 15px;
}

.form input::placeholder {
  text-align: center;
  vertical-align: center;
}

.form p {
  margin: 50px;
  text-align: center;
}

.form b {
  color: #fe9a00;
}

.checkbefore {
  margin: 50px;
  text-align: center;
}

.form {
  width: 60%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.createform {
  font-weight: 300;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: center;
  margin-bottom: 30px;
}

.createform h3 {
  padding: 10px;
  width: 250px;
  text-align: right;
  margin-right: 50px;
}

.createform select {
  border: 1px solid #8f8f8f;
  border-radius: 5px;
  height: 35px;
  width: 200px;
}

.createform .selectRegion {
  margin-left: 30px;
}

.createform label {
  font-weight: 500;
}

.createform .inputBox {
  border: 1px solid #8f8f8f;
  border-radius: 5px;
  height: 35px;
  width: 430px;
}

.createform .dateinput {
  border: 1px solid #8f8f8f;
  border-radius: 5px;
  height: 30px;
  margin-left: 10px;
  width: 200px;
}

.createform .editorbox {
  width: 650px;
  height: 300px;
  margin-bottom: 70px;
}

/* ---------리워드 부분--------- */
.first-reward {
  display: flex;
  align-items: center;
  margin-right: 110px;
}

.createform .rewardsinput {
  border: 1px solid #8f8f8f;
  border-radius: 5px;
  height: 30px;
  width: 200px;
}

.createform .rewardsinput2 {
  border: 1px solid #8f8f8f;
  border-radius: 5px;
  height: 30px;
  margin-left: 20px;
}

.createform .rewardsButton {
  margin-left: 20px;
  height: 30px;
  width: 100px;
}

/* 체크박스 */
.checkbox,
.checkbox2 {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.checkbox p {
  margin: 0px;
}

.checkbox2 {
  margin-bottom: 0px;
}

.checkbox p,
.checkbox2 p {
  margin-left: 20px;
}

.warnmessage {
  text-align: center;
  margin: 50px;
}

/* 세부사항 */
.rule {
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 70%;
  background-color: rgb(241, 241, 241);
  margin-bottom: 20px;
  padding: 40px;
  border-radius: 10px;
}

.rule h3 {
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
}

.rule-detail {
  text-align: left;
  width: 50%;
}

.yes h4 {
  margin-top: -20px;
  color: green;
}

.no h4 {
  color: red;
}

.rule-detail h4 {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.rule li {
  list-style-type: none;
  margin-bottom: 20px;
  line-height: 25px;
}

.submit {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
}