.contents {
  display: flex;
  /* align-items: flex-start; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.slide-box {
  display: flex;
  width: 100%;
  height: 280px;
  background-color: cornflowerblue;
  box-sizing: border-box;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  /* height: 400px; */
  /* background-color: blanchedalmond; */
  box-sizing: content-box;
  margin: 0 auto 1rem;
}

.project-list-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}

.project-list {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100%;
  margin: 0 auto;
  /* background-color: beige; */
}

.projects-home-list {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px 10px; /* 줄간격, 칼럼 간격 */
  /* width: 50%; */
  height: 100%;
  box-sizing: border-box;
}

/* 마지막 줄의 카드를 왼쪽 정렬하도록 스타일 추가 */
/* .project-list::after {
  content: '';
  flex: 1;
  width: 80%;
  height: 100%;
} */
.project-card {
  position: static;
  width: 320px;
  text-align: left;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 20px;
  box-sizing: border-box;
}

.thumbnail {
  display: flex;
  position: relative;
  justify-content: center;
  width: 304px;
  height: 170px;
  padding: 0;
  /* background-color: #ebebeb; */
  margin: 0 0;
  overflow: hidden;
  border-radius: 5%;
  cursor: pointer;
}

.photo {
  position: relative;
  width: 100%;
  height: 100%;
  /* border-radius: 5%; */
  /* object-fit: cover; */
}

.project-card:hover .photo {
  transform: scale(1.04);
  transition: 0.3s;
}

.new-tag {
  position: absolute;
  left: 85%;
  top: 0%;
  background-color: aquamarine;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7rem;
}

.new-tag-hidden {
  visibility: hidden;
}

.text-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-line-clamp: 2; /* 원하는 줄 수 지정 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word; /* 긴 단어를 줄 바꿈하여 두 줄에 맞추는 옵션 */
}

.pc-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-line-clamp: 2; /* 원하는 줄 수 지정 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word; /* 긴 단어를 줄 바꿈하여 두 줄에 맞추는 옵션 */

  width: 100%;
  background-color: transparent;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  font-size: 1.05em;
  height: 2.8em;
}

.pc-location {
  color: var(--ButtonDefault);
}

.pc-price {
  background-color: transparent;
  font-size: 0.7rem;
}

.ranking-title {
  width: 100%;
  margin: 0.95rem 10px;
  /* border-bottom: solid 1px var(--Brightgary); */
  color: var(--ButtonDefault);
  font-size: 1.2em;
}

.project-ranking-list {
  display: flex;
  flex-direction: column;
  width: 400px;
  /* background-color: burlywood; */
  /* border: solid yellowgreen; */
  box-sizing: border-box;
  border-left: solid 1px var(--Brightgary);
  padding: 0 15px;
  margin: 0 15px;
}

.project-ranking-card {
  display: flex;
  flex-direction: row;
  position: static;
  text-align: left;
  /* padding: 0.5rem; */
  margin: 0.5rem;
  border-radius: 20px;
  box-sizing: border-box;
}

.project-ranking-card-thumbnail {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 0;
  /* background-color: #ebebeb; */
  margin: 0 0;
  overflow: hidden;
  border-radius: 5%;
  cursor: pointer;
  object-fit: contain;
  width: 50%;
}

.project-ranking-card-summary {
  display: block;
  /* flex-direction: row; */
  position: relative;
  width: 50%;
  padding: 0 0.5rem;
  align-items: baseline;
}

.text-container {
  white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정 */
  overflow: hidden; /* 오버플로우(넘침)시 내용 숨기기 */
  text-overflow: ellipsis; /* 말줄임표(...) 사용 */
  width: 150px; /* 컨테이너의 너비를 지정, 필요에 따라 조절 */
}

.pcr-title {
  width: 100%;
  background-color: transparent;
  font-size: 0.9rem;
  white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정 */
  overflow: hidden; /* 오버플로우(넘침)시 내용 숨기기 */
  text-overflow: ellipsis;
  /* height: 2em; */
  margin: 0.1rem;
  /* background-color: aquamarine; */
}

.pcr-location {
  color: var(--ButtonDefault);
  font-size: 0.7rem;
}

.pcr-price {
  background-color: transparent;
  font-size: 0.6rem;
}

.silde-img {
  cursor: pointer;
}

/* 페이지 이동(pagination) 버튼 설정 */
.pagination-p {
  flex: 1 1 100%;
  text-align: center;
  margin: 1rem auto;
}

.pagination-p span {
  font-size: var(--TextMidium);
  margin: auto 5px;
  /* font-weight: bold; */
  display: inline-block;
  width: 50px;
}
.pagination-p button {
  font-size: var(--TextMidium);
  background-color: var(--ButtonDefault);
  color: white;
  border: none;
  border-radius: 5px;
  width: 55px;
  padding: 5px;
  box-shadow: 2px 2px 2px var(--Brightgary);
}

.pagination-p button:hover {
  background-color: var(--ButtonHover);
  cursor: pointer;
}

.pagination-p button:active {
  background-color: var(--ButtonPressed);
}
