.backgroundArea {
  background: white;
  border: solid 1px #fe9a00;
  margin: auto;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 4px 4px 5px 0px rgba(254, 154, 0, 0.3);
}

/* 모달 스크롤 스타일 */
.backgroundArea {
  overflow-y: auto;
  /* 수직 스크롤바 활성화 */
  max-height: 800px;
}

/* 스크롤바 숨김 */
.backgroundArea::-webkit-scrollbar {
  width: 0em;
}

.backgroundArea::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.backgroundArea::-webkit-scrollbar-track {
  background: transparent;
}

/* 스크롤바 숨김 (Firefox) */
.backgroundArea {
  scrollbar-width: thin;
}

.backgroundArea::-webkit-scrollbar {
  scrollbar-width: thin;
}

.info {
  padding-top: 20px;
  font-size: 20px;
  width: 360px;
  margin: auto;
  text-align: left;
}

.projName {
  padding-bottom: 10px;
  font-size: 28px;
}

.projPlace {
  padding-bottom: 10px;
  font-size: 15px;
  color: #fe9a00;
}

.projAddr {
  padding-bottom: 10px;
  font-size: 15px;
}

.projDate {
  padding-bottom: 0px;
  font-size: 15px;
  line-height: 2;
}

.select option {
  white-space: pre-line;
}

.rewardBtnBorder {
  width: 360px;
  margin: auto;
  margin-top: 20px;
  border: solid 1px rgba(30, 30, 30, 0.2);
  border-radius: 5px;
}

.reward-button {
  height: 40px;
  padding-left: 10px;
  text-align: left;
  width: 99%;
  font-size: 18px;
  border: 0;
  font-family: 'Courier New', Courier, monospace;
  background: white;
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
}

.border-active {
  border-bottom: solid 1px rgba(30, 30, 30, 0.2);
}

.modal {
  padding-top: 10px;
  border-top: solid 1px rgba(30, 30, 30, 0.2);
}

.reward-text {
  border: none;
  padding: 0;
  text-align: left;
  color: #1e1e1e;
}

.arrow {
  margin-right: 10px;
}

.arrow {
  margin-right: 10px;
}

.selectButton {
  margin-top: 5px;
  padding: 0;
  border: none;
  background: white;
  font-size: 18px;
  text-align: left;
  width: 340px;
}

.selectedReward {
  width: 360px;
  margin: auto;
  background-color: white;
}

.firstTable tr {
  width: 350px;
}

.no-bullets {
  width: 100%;
  list-style-type: none;
  text-align: left;
  font-size: 18px;
  margin-left: 0px;
  padding-left: 10px;
}

.no-bullets2 li {
  border: solid 1px rgba(30, 30, 30, 0.2);
  border-radius: 5px;
  width: 100%;
  list-style-type: none;
  text-align: left;
  font-size: 18px;
  margin-left: 0px;
  padding-left: 10px;
}

ul.no-bullets hr {
  width: 340px;
  /* <hr/>의 너비를 360px로 설정 */
  border: 0;
  /* 테두리 제거 */
  height: 1px;
  /* 높이를 1px로 설정하여 수평 라인 효과 생성 */
  background-color: rgba(30, 30, 30, 0.2);
  /* 배경색을 원하는 색상으로 설정 (예: 검정색) */
  margin: 5px 0;
  /* 위아래 여백 조절 (선택적으로 조정) */
}

ul.no-bullets2 hr {
  width: 340px;
  /* <hr/>의 너비를 300px로 설정 */
  border: 0;
  /* 테두리 제거 */
  height: 1px;
  /* 높이를 1px로 설정하여 수평 라인 효과 생성 */
  background-color: rgba(30, 30, 30, 0.2);
  /* 배경색을 원하는 색상으로 설정 (예: 검정색) */
  margin: 5px 0;
  /* 위아래 여백 조절 (선택적으로 조정) */
}

.selected-reward-header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.second-table table {
  width: 99%;
}

.second-table table tr td:first-child {
  width: 80px;
  padding-top: 5px;
  /* 첫 번째 <td> 요소의 너비를 100px로 설정 */
}

.second-table table tr td:nth-child(2) {
  padding-top: 5px;
  width: 240px;
  /* 두 번째 <td> 요소의 너비를 250px로 설정 */
}

.second-table table tr td:last-child {
  background-color: white;
  /* 세 번째 <td> 요소의 너비는 자동으로 계산 */
}

.button-cell {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: flex-end;
}

.remove-button {
  max-height: 20px;
  /* 높이를 30px로 설정 */
  border: none;
  background-color: white;
  color: RGB(192, 192, 192);
  margin-right: 10px;
  margin-top: 5px;
  /* 오른쪽과 간격을 두기 */
  vertical-align: super;
  padding-top: 0px;
}

.total-amount {
  margin-top: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  width: 360px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.button-group {
  display: flex;
  flex-direction: row;
  /* 버튼을 세로로 나열 */
  align-items: center;
  width: 360px;
  box-sizing: border-box;
  margin-top: 10px;
  /* 버튼 그룹과 신청하기 버튼 사이에 여백 추가 */
}

.fundingBtn {
  font-size: 20px;
  height: 50px;
  /* 높이 자동 조정 */
  max-height: 50px;
  /* 최소 높이 지정 */
  width: 360px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #fe9a00;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 텍스트 수직 중앙 정렬 */
  /* box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3); */
}

.fundingBtn:hover {
  background-color: #ffc976;
}

.fundingBtn:active {
  background-color: #ff7301;
}

.heartBtn,
.shareBtn {
  font-size: 20px;
  height: auto;
  /* 높이 자동 조정 */
  min-height: 20px;
  /* 최소 높이 지정 */
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: white;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  /* 텍스트 수직 중앙 정렬 */
  width: 100%;
  /* 버튼의 너비 100%로 변경 */
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.heartBtn {
  width: 100px;
  height: 50px;
  color: rgba(0, 0, 0, 0.4);
  text-align: left;
  padding-left: 18px;
}

.textNum {
  height: 21px;
  padding-left: 5px;
}

.withIcon_icon__3VTbq {
  margin-bottom: 2px;
  width: 24px;
  height: 24px;
  fill: red;
  margin-right: 10px;
}

.shareBtn {
  width: 240px;
  height: 50px;
  color: black;
  justify-content: center;
  /* 센터 정렬 */
}

.closed-project-message {
  color: red;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.other-status-message {
  color: red;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* 상세페이지 펀드현황, 수정 버튼 */
.fundStatusContainer {
  position: relative;
  top: -15px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.fundStatusBtn {
  background-color: white;
  width: 47.5%;
  height: 50px;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}