/* 전체 div */
.payDiv {
    margin-top: 20px;
}

/* 왼쪽 오른쪽 div 영역 */
.payList {
    width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center;
    /* 수평 가운데 정렬 */
    align-items: center;
    /* 수직 가운데 정렬 */
    flex-direction: row;
    /* 자식 요소를 수직으로 배치 */
    justify-content: space-between;
    /* 'a'와 'b'를 컨테이너 양쪽 끝으로 정렬 */
    align-items: flex-start;
    /* 'a'와 'b'를 수직으로 맞춰 상단 정렬 */
}

.payList>div:nth-child(2) {
    position: sticky;
    top: 0;
}

/* 왼쪽 헤더 */
.payHeader {
    width: 500px;
    font-size: 30px;
    margin-bottom: 20px;
    padding-left: 20px;
}

/* 오른쪽 헤더 */
.payHeader2 {
    width: 500px;
    font-size: 30px;
    margin-bottom: 20px;
    padding-left: 20px;
}

/* 왼쪽 div */
.payInfo {
    width: 800px;
    border: 1px solid rgba(30, 30, 30, 0.2);
    border-radius: 5px;
    margin: auto;
}

/* 모임/행사 정보 영역 */
.payInfoHeader {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 20px;
}

/* 공통 hr */
.payHr {
    opacity: 0.5;
}

/* 선택한 모임/행사 영역 */
.paddingtop {
    padding-top: 20px;
    text-align: left;
    width: 700px;
    padding-left: 20px;
    padding-bottom: 20px;
}

/* 선택한 모임/행사 영역 제목 */
.projName2 {
    padding-bottom: 10px;
}

/* 선택한 그룹 영역 */
.payGroup {
    padding-bottom: 20px;
    margin-top: 20px;
    border: 1px solid rgba(30, 30, 30, 0.2);
    border-radius: 5px;
}

/* 선택한 그룹 영역 제목 */
.payGroupHeader {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
}

/* 선택한 그룹 영역 리스트 */
.payUl {
    list-style-type: none;
    width: 500px;
    text-align: left;
    padding-left: 20px;
}

.payPerson {
    padding-bottom: 20px;
    margin-top: 20px;
    border: 1px solid rgba(30, 30, 30, 0.2);
    border-radius: 5px;
}

.payPersonHeader {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
}

.payPersonTable {
    padding-left: 20px;
}

.payType {
    padding-bottom: 20px;
    margin-top: 20px;
    border: 1px solid rgba(30, 30, 30, 0.2);
    border-radius: 5px;
    margin-bottom: 20px;
}

.payTypeHeader {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
}

/* 결제 확인 영역 */
.payCheckDiv {
    width: 500px;
    margin-left: 20px;
}

.payCheck {
    width: 500px;
    border: 1px solid rgba(30, 30, 30, 0.2);
    border-radius: 5px;
    height: 400px;
}

.payCheckArea {
    width: 460px;
    margin: auto;
    margin-top: 20px;
}

.payCheckArea table {
    font-size: 20px;
}

.payCheck-label1 {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
    /* 레이블 텍스트 색상 설정 */
    user-select: none;

}

.payCheck-label1 input {
    display: none;
    /* 기본 체크박스를 숨깁니다. */
    width: 20px;
}

.payCheck-checkbox1 {
    width: 20px;
    /* 체크박스의 가로 크기 */
    height: 20px;
    /* 체크박스의 세로 크기 */
    border: 0.5px solid #333;
    /* 체크박스 테두리 스타일 */
    background-color: #fff;
    /* 체크박스 배경색 */
    border-radius: 3px;
    /* 체크박스 모서리 둥글게 */
    margin-right: 8px;
    /* 체크박스와 레이블 사이 간격 조절 */
}

.agreeText1 {
    text-align: left;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    flex: 1;
}

.payCheck-label1 input:checked+.payCheck-checkbox1::before {
    content: '\2714';
    /* 유니코드 체크 마크 (✓) */
    color: white;
    /* 체크 표시 색상 */
    font-size: 16px;
    /* 체크 표시 크기 */
    text-align: center;
    line-height: 1;
    background-color: #45bff0;
    /* 체크된 상태의 배경색 */
    padding-left: 3px;
}

.payCheck-label1 input:checked+.payCheck-checkbox1 {
    background-color: #45bff0;
    /* 체크된 상태의 배경색 */
    border-color: #45bff0;
    /* 체크된 상태의 테두리 색상 */
}

.payCheck-label2 {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
    /* 레이블 텍스트 색상 설정 */
    user-select: none;
}

.payCheck-label2 input {
    display: none;
    /* 기본 체크박스를 숨깁니다. */
}

.payCheck-checkbox2 {
    width: 20px;
    /* 체크박스의 가로 크기 */
    height: 20px;
    /* 체크박스의 세로 크기 */
    border: 0.5px solid #333;
    /* 체크박스 테두리 스타일 */
    background-color: #fff;
    /* 체크박스 배경색 */
    border-radius: 3px;
    /* 체크박스 모서리 둥글게 */
    margin-right: 8px;
    /* 체크박스와 레이블 사이 간격 조절 */
}

.payCheck-label2 input:checked+.payCheck-checkbox2::before {
    content: '\2714';
    /* 유니코드 체크 마크 (✓) */
    color: white;
    /* 체크 표시 색상 */
    font-size: 16px;
    /* 체크 표시 크기 */
    text-align: center;
    line-height: 1;
    background-color: #45bff0;
    /* 체크된 상태의 배경색 */
    padding-left: 3px;
}

.payCheck-label2 input:checked+.payCheck-checkbox2 {
    background-color: #45bff0;
    /* 체크된 상태의 배경색 */
    border-color: #45bff0;
    /* 체크된 상태의 테두리 색상 */
}

.agreeText2 {
    text-align: left;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    flex: 1;
}

.payAgreeList {
    list-style: none;
    padding-left: 30px;
}

.payAgreeList li {
    display: flex;
    justify-content: space-between;
    /* 버튼을 오른쪽으로 이동시킵니다. */
    align-items: center;
    /* 세로 중앙 정렬을 유지합니다. */
    cursor: pointer;
}

.payAgreeTd1 {
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

.payAgreeTd2 {
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}


.payCheck-label2 ul li {
    padding-top: 10px;
    margin-left: 15px;
    opacity: 0.4;
}

.payCheck-label3 {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333;
    /* 레이블 텍스트 색상 설정 */
    user-select: none;
    justify-content: space-between;
    /* 버튼을 오른쪽 끝으로 이동시킵니다. */
    align-items: center;
    /* 세로 중앙 정렬을 유지합니다. */
    margin-top: 20px;
}

.payCheck-label3 input {
    display: none;
    /* 기본 체크박스를 숨깁니다. */
}

.payCheck-checkbox3 {
    width: 20px;
    /* 체크박스의 가로 크기 */
    height: 20px;
    /* 체크박스의 세로 크기 */
    border: 0.5px solid #333;
    /* 체크박스 테두리 스타일 */
    background-color: #fff;
    /* 체크박스 배경색 */
    border-radius: 3px;
    /* 체크박스 모서리 둥글게 */
    margin-right: 8px;
    /* 체크박스와 레이블 사이 간격 조절 */
}

.payCheck-label3 input:checked+.payCheck-checkbox3::before {
    content: '\2714';
    /* 유니코드 체크 마크 (✓) */
    color: white;
    /* 체크 표시 색상 */
    font-size: 16px;
    /* 체크 표시 크기 */
    text-align: center;
    line-height: 1;
    background-color: #45bff0;
    /* 체크된 상태의 배경색 */
    padding-left: 3px;
}

.payCheck-label3 input:checked+.payCheck-checkbox3 {
    background-color: #45bff0;
    /* 체크된 상태의 배경색 */
    border-color: #45bff0;
    /* 체크된 상태의 테두리 색상 */
}

.agreeText3 {
    text-align: left;
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    flex: 1;
}

.agreeBtn1 {
    font-size: 20px;
    background: #fff;
    border: none;
    cursor: pointer;
    color: black;
    width: 20px;
    height: 20px;
    font-weight: bold;
    opacity: 0.3;
}

.agreeBtn2 {
    font-size: 20px;
    background: #fff;
    border: none;
    cursor: pointer;
    color: black;
    width: 20px;
    height: 20px;
    font-weight: bold;
    opacity: 0.3;
}

.agreeBtn3 {
    font-size: 20px;
    background: #fff;
    border: none;
    cursor: pointer;
    color: black;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-bottom: 4px;
    font-weight: bold;
    opacity: 0.3;
}

.payAgree1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.payAgree2 {
    margin-bottom: 20px;
}

.payAgree3 {
    margin-bottom: 20px;
}

body.modal-open {
    overflow: hidden;
}

.payComfirmBtn {
    width: 100%;
    background-color: #fe9a00;
    border: none;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-size: 20px;
}

.payComfirmBtn:hover {
    background-color: #FFC976;
}

.payComfirmBtn {
    background-color: #FF7301;
}