/* ===== 헤더 공통 스타일 ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container a:link,
.header-container a:visited {
  text-decoration: none;
  color: #1e1e1e;
}

.header-container a:hover {
  font-weight: #1e1e1e;
  color: #fe9a00;
}

.header-container .navbar .active {
  font-weight: 700;
  color: #fe9a00;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 8fr 2fr;
  grid-template-areas:
    'box1 box2 box3'
    'box1 box2 box4';
  padding-bottom: 20px;
  border-bottom: 1px solid var(--Brightgary);
}

/* ===== 로고 ===== */
.header-container .logo {
  grid-area: box1;
  margin-left: 30px;
  margin-top: 25px;
}

.header-container .logo img {
  float: left;
  width: 100px;
  height: auto;
}

/* ===== 네이게이션 바 ===== */
.navbar {
  grid-area: box2;
}

.navbar ul {
  list-style: none;
  margin-top: 78px;
  padding: 0;
  text-align: left;
}

.navbar li {
  text-decoration: none;
  font-size: 28px;
  display: inline-block;
  margin-top: 20px;
  margin-right: 30px;
  letter-spacing: 2px;
}

.navbar li:not(:last-of-type) {
  padding-right: 30px;
  border-right: 2px solid #1e1e1e;
}

/* ===== 로그인 & 회원가입 ===== */
.login-signup {
  width: 450px;
  margin-top: 20px;
  grid-area: box3;
}

.login-signup ul {
  list-style: none;
  margin: 15px 20px 15px 0px;
  text-align: right;
}

.login-signup li {
  display: inline;
  font-size: 18px;
  margin-right: 10px;
}

.login-signup li:not(:last-of-type) {
  padding-right: 20px;
  border-right: 1px solid #1e1e1e;
}

.login-signup li:hover {
  cursor: pointer;
  color: #fe9a00;
}

.navButton {
  margin-top: -5px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  margin-right: 20px;
  height: 40px;
  width: 160px;
  background-color: #fe9a00;
  border: 0;
  border-radius: 5px;
}

.navButton a:link,
.navButton a:hover,
.navButton a:visited {
  color: white;
}

/* ===== 검색창 ===== */
.searchBox {
  grid-area: box4;
  position: relative;
  width: 400px;
  margin-left: 30px;
  margin-right: 0px;
}

.searchBox input {
  width: 100%;
  border: 1px solid #1e1e1e;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 18px;
}

.searchBox img {
  position: absolute;
  width: 20px;
  top: 12.5px;
  right: 15px;
  margin: 0;
}

.login-signup button:hover{background-color: var(--ButtonHover);}
.login-signup button:active{background-color: var(--ButtonPressed);}

