.tab-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab-list li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 2px solid transparent;
    /* 초기에는 투명한 밑줄 */
    color: #1e1e1e;
    /* 탭의 텍스트 색상 */
    border: 0;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(240, 240, 240);
}

.tab-list li:hover {
    border-bottom: 2px solid #007BFF;
    /* 호버 시 밑줄 색상 변경 */
}

.tab-list li.active {
    border-bottom: 2px solid #007BFF;
    color: #1e1e1e;
    background-color: rgb(240, 240, 240);
    /* 활성 탭의 밑줄 색상 변경 */
}