.fundingStatusTable {
  min-width: 800px;
  height: 100px;
  border: 1px solid var(--Brightgary);
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.fundingStatusTr {
  text-align: center;
}
.fundingStatusTr th {
  width: 25%;
  color: red;
}
.fundingStatusTr td {
  font-size: var(--TextLarge);
}
.fundingStatusModalTable {
  width: 800px;
  border-collapse: collapse; /* 인접하는 테두리를 병합하여 한 줄로 만듭니다. */
}

.fundingStatusModalTable tr {
  border-bottom: 1px solid #000; /* 각 <tr> 아래에 1px 두께의 실선 밑줄을 추가합니다. */
}

.fundingStatusModalTable td {
  position: relative;
}

.fundingStatusModalTable td:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}
