/* 프로젝트 기본 설정 */

h1 {
	font-size: var(--TextLarge);
	text-align: center;
	margin-top: 100px;
	letter-spacing: 2px;
}

.tabs .active {
	font-weight: bold;
	background-color: white;
	color: var(--Black);
}

.tabs p {color: blue;}

.tabs ul {
	text-align:center;
	margin:0;
	padding:0px;
}

.tabs li {
	display:inline-block;
  list-style-type:none;
	margin: 20px 10px;
	font-size: var(--TextMidium);
	color: var(--Darkgray);
}

.tabs li:hover {
	font-weight: bold;
}

.tabs li:not(:last-of-type) {
  padding-right: 20px;
  border-right: 1px solid #1e1e1e;
}


/* 프로젝트 내역(리스트) 설정 */
.project-container {
	display: flex;
	justify-content: center;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  height: 100%;
  box-sizing: border-box;
}

/* 페이지 이동(pagination) 버튼 설정 */
.pagination {
	text-align: center;
}