/* 프로젝트 기본 설정 */
.manage-project-container {
	height: 700px;
	margin-bottom: 100px;
	position: relative;
}

.manage-project {
	font-size: var(--TextLarge);
	text-align: center;
	margin-top: 100px;
	letter-spacing: 2px;
}

.tabs .active {
	font-weight: bold;
	color: var(--ButtonPressed);
}

.tabs ul {
	text-align:center;
	margin:0;
	padding:0px;
}

.tabs li {
	display:inline-block;
  list-style-type:none;
	margin: 20px 10px;
	font-size: var(--TextMidium);
	color: var(--Darkgray);
}

.tabs li:hover {
	color: var(--ButtonPressed);
	cursor: pointer;
}

.tabs li:not(:last-of-type) {
  padding-right: 20px;
  border-right: 1px solid #1e1e1e;
}


/* 프로젝트 내역(리스트) 설정 */
.projects-container {
	display: flex;
	justify-content: center;
}

.projects-list {
  /* display: flex;
  flex-wrap: wrap; */
  justify-content: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px 10px;	/* 줄간격, 칼럼 간격 */
  /* width: 50%; */
  height: 100%;
  box-sizing: border-box;
}

/* 페이지 이동(pagination) 버튼 설정 */
.pagination {
	position: absolute;
	top: 620px;
	text-align: center;
}

.pagination span {
	font-size: var(--TextMidium);
	margin: auto 5px;
	/* font-weight: bold; */
	display: inline-block;
	width: 50px;
}
.pagination button {
	font-size: var(--TextMidium);
	background-color: var(--ButtonDefault);
	color: white;
	border: none;
	border-radius: 5px;
	width: 55px;
	padding: 5px;
	box-shadow: 2px 2px 2px var(--Brightgary);
}

.pagination button:hover {
	background-color: var(--ButtonHover);
	cursor: pointer;
}

.pagination button:active {
	background-color: var(--ButtonPressed);
}