footer {margin-top: 100px;}
.footer-container, .footer-below {
	margin: 0 1rem;
}

.footer-padding, .footer-below {
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: column;
}

.footer-links-container{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	text-align: left;
	margin-bottom: 0.rem;
}

.footer-link {
	width: 150px;
	margin: 1rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.footer-container a {
	text-decoration: none;
}

.sns-link {
	display: flex;
	flex-direction: row;
}

.sns-link img {
	width: 80%;
}

.footer-link h4 {
	font-size: var(--TextSmall)*1.3;
	/* color: var(--Darkgray); */
	line-height: 17px;
	margin-bottom: 0.6rem;
	font-weight: 600;
}

.footer-link p {
	font-size: var(--TextXsmall);
	color: var(--Lightgray);
	line-height: 15px;
	margin: 0.3rem 0;
	cursor: pointer;
}

.footer-below {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 0.2rem;
}

.footer-below-links {
	display: flex;
	flex-direction: row;
}

.footer-below-links p {
	font-size: var(--TextSmall);
	color: var(--Middlegray);
	line-height: 25px;
	margin-left: 1rem;

}

.footer-container hr {
	color: var(--Brightgary);
	width: 100%;
	margin-bottom: 1rem;
}

.footer-below-copyright p {
	font-size: var(--TextSmall);
	color: var(--Middlegray);
	line-height: 15px;
}

.sns-link img {
	width: 20px;
	height: auto;
	margin: 0;
}