.fundingProjectImg {
  filter: brightness(15%);
}
.fundingProjectImg:hover {
  filter: brightness(100%);
}

.fundingProjectImgX {
  filter: brightness(35%);
}

.fundingProjectImg:hover + .fundingProjectTextWait,
.fundingProjectImg:hover + .fundingProjectTextConfirm {
  display: none;
}

.fundingProjectTextWait {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(30, 30, 30, 0.88);
  position: absolute;
  width: 100%;
  height: 70px;
  top: 30%;
  color: var(--ButtonDefault);
  font-size: 2.2rem;
}

.fundingProjectTextConfirm {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(30, 30, 30, 0.88);
  position: absolute;
  width: 100%;
  height: 70px;
  top: 30%;
  color: var(--Brightgary);
  font-size: 2.2rem;
}

.fundingProjectImgX::before,
.fundingProjectImgX::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 5px solid var(--Brightgary); /* X자의 색상 및 두께 설정 */
  z-index: 999; /* 다른 내용 위에 표시하기 위해 Z 인덱스를 설정합니다. */
  pointer-events: none; /* 마우스 이벤트가 해당 요소를 무시하도록 설정합니다. */
}
.fundingProjectImgX::before {
  transform: rotate(45deg);
}

.fundingProjectImgX::after {
  transform: rotate(-45deg);
}
