.fundingProjectImg {
  filter: brightness(15%);
}
.fundingProjectImg:hover {
  filter: brightness(100%);
}

.fundingProjectImg:hover + .fundingProjectText {
  display: none;
}
.fundingProjectText {
  position: absolute;
  top: 40%;
  color: white;
  font-size: 2.2rem;
}
