.buttons-container button {
  padding: 3px;
  height: 30px;
  font-size: 15px;
  box-shadow: 2px 2px 2px var(--Brightgary);
}

.apprBtn {
  width: 82%;
  color: white;
  background-color: var(--ButtonPressed);
  border: none;
  border-radius: 6px;
  margin-bottom: 8px;
  font-weight: bold;
}

.rejectBtn {
  width: 60%;
  color: var(--ButtonPressed);
  background-color: white;
  border: 1px solid var(--ButtonPressed);
  border-radius: 6px;
  margin-right: 8px;
  margin-bottom: 20px;
}
.holdBtn {
  width: 20%;
  color: var(--ButtonPressed);
  background-color: white;
  border: 1px solid var(--ButtonPressed);
  border-radius: 6px;
  margin-bottom: 20px;
}
