.slick-dots {
	position: absolute;
  top: 380px;
}

.slick-dots li button::before {
  color: white;   /* 슬라이드 페이지 도트 색상 */
}

.slide-container{
	position: relative;
	height: 420px;
	overflow: hidden;
}

