.scroll-container{
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 100; 	/* 제일 위로 */
}

.topBtn{
  font-weight: bold;
  font-size: 15px;
  padding :15px 10px;
  color:var(--ButtonDefault);
  border: 2px solid var(--ButtonDefault);
  border-radius: 50%;
	background-color: transparent;	/* 배경 투명 */
  outline: none;
  cursor: pointer;
}

.topBtn:hover{
  color :var(--ButtonHover);
	border: 1px solid var(--ButtonHover);
}